//Style
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html {
  height: 100%;
  position: relative;
  background: #f6f6f6;
  font-family: "Inter", "Poppins", "Arial", sans-serif;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;
  position: relative;
  font-family: "Inter", "Poppins", "Arial", sans-serif;

  .footer {
    margin-top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #a3a3a3;
    background: linear-gradient(to bottom, #0a8c6e, #0a3b2f);
  }
}

nav {
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .hamburger {
    display: none;
    margin-right: auto;
  }
}

button,
.btn {
  background: white;
  border: 1px solid #444;
  border-radius: 100px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-right: 2rem;

  &:active,
  &:focus,
  &:hover {
    background: #d1e9e4;
  }
}
.btn-cart {
  &:active,
  &:focus,
  &:hover {
    z-index: 10000;
    top: 2rem;
    right: 2rem;
    background: #d1e9e4;
    border-radius: 30px;
    ul {
      list-style: none;
    }
  }
}

main {
  flex: 1;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2rem 0;
    font-family: "Inter";
    font-weight: 700;
  }

  p {
    margin: 1rem 0;
  }

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: flex-start;
    flex-wrap: wrap;

    li {
      background-color: #ffffff;
      border: 1px solid #444;
      border-radius: 30px;
      color: #444;
      padding: 1rem;
      flex-basis: 20vw;
      margin-right: 2rem;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      p {
        margin-bottom: 2rem;
      }

      footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 0;
      }

      button,
      .btn {
        background: transparent;
        border: 1px solid #444;
        border-radius: 100px;
        color: #444;
        font-size: 0.75rem;
        margin-top: 1rem;
        width: 100%;
      }
    }
  }

  article {
    margin: 2em 1em;
    padding: 1rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #444;
      margin: 0;
    }

    img {
      width: 200px;
    }

    .room-description {
      width: 75%;
      background: #ffffff;
      border: 1px solid #444;
      border-radius: 30px;
      padding: 2rem;
    }

    .treatment-description {
      width: 75%;
      background: #ffffff;
      border: 1px solid #444;
      border-radius: 30px;
      padding: 2rem;
    }

    .add-to-cart {
      background: transparent;
      border: 1px solid #444;
      border-radius: 100px;
      color: #444;
    }
    .arrival-date,
    .departure-date {
      background: transparent;
      border: 1px solid #444;
      border-radius: 100px;
      color: #444;
    }

    .room-photo-buttons {
      display: flex;
      flex-direction: column;
    }

    .room-buttons {
      display: flex;
      justify-content: space-between;
      align-items: end;
    }
  }
}

section {
  h2,
  p,
  ul {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero-container {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    width: 100vw;
    text-align: center;
    overflow: hidden;
  }
  .hero-photo {
    display: block;
    width: 100vw;
    height: auto;
    margin: 0 auto;
  }
  .hero-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    color: white;
    text-align: center;
    text-shadow: black;
    // font-size: 4rem;
  }

  .home-text {
    margin: auto;
    padding: 1.5rem;
    font-size: large;
    font-weight: 600;
    color: #444;
    width: 50vw;
    text-align: center;
  }

  .photo-container {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
  }

  .photos {
    height: auto;
    transition: transform 0.3s ease;
    margin: 10px;
    width: auto;
    max-width: 25vw;
  }
  .photos:hover {
    transform: scale(1.1);
  }

  .cart-table {
    padding: 2rem;
    width: 80vw;
    margin-left: 2rem;
  }

  .table-cart {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
}

@media (max-width: 575px) {
  nav {
    justify-content: space-between;
    align-items: flex-start;

    .hamburger {
      display: block;
      margin-right: 2rem;
    }

    .menu {
      display: none;
      flex-direction: column;
    }
    .menu.active {
      display: flex;
      flex-direction: column;
    }

    .menu button,
    .menu .btn {
      display: block;
      margin-bottom: 1rem;
    }

    .btn-cart {
      margin-left: auto;
    }
  }

  section {
    .hero-header {
      font-size: 1.5rem;
    }
    .home-text {
      width: 100vw;
    }
    .photo-container {
      flex-direction: column;
    }
    .photos {
      max-width: 80vw;
    }
  }
  main {
    ul {
      li {
        flex-basis: 80vw;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  nav {
    justify-content: space-between;
    align-items: flex-start;

    .hamburger {
      display: block;
      margin-right: 2rem;
    }

    .menu {
      display: none;
      flex-direction: column;
    }
    .menu.active {
      display: flex;
      flex-direction: column;
    }

    .menu button,
    .menu .btn {
      display: block;
      margin-bottom: 1rem;
    }

    .btn-cart {
      margin-left: auto;
    }
  }
  section {
    .hero-header {
      font-size: 2.3rem;
    }
  }

  main {
    ul {
      li {
        flex-basis: 40vw;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  section {
    .hero-header {
      font-size: 3rem;
    }
  }
  main {
    ul {
      li {
        flex-basis: 40vw;
      }
    }
  }
}
